TOOLCHAIN_PREFIX=arm
PLATFORM=mt7629

ATF_LOG_LEVEL=30
BL2_BUILD_OPTIONS=
ATF_BUILD_OPTIONS="ARCH=aarch32 AARCH32_SP=sp_min"
BL2_OUT_NAME=bl2.img
SOC_FW_NAME=bl32
SOC_FW_PARAM=--tos-fw

ATF_VARIANTS="nor snand_2k_64 snand_2k_128 snand_4k_256"

ATF_NAME_nor=nor
ATF_NAME_snand_2k_64=snand-2k+64
ATF_NAME_snand_2k_128=snand-2k+128
ATF_NAME_snand_4k_256=snand-4k+256

BL2_VARIANT_OPTIONS_nor="BOOT_DEVICE=nor"
BL2_VARIANT_OPTIONS_snand_2k_64="BOOT_DEVICE=snand NAND_TYPE=2k+64"
BL2_VARIANT_OPTIONS_snand_2k_128="BOOT_DEVICE=snand NAND_TYPE=2k+128"
BL2_VARIANT_OPTIONS_snand_4k_256="BOOT_DEVICE=snand NAND_TYPE=4k+256"
