TOOLCHAIN_PREFIX=aarch64
PLATFORM=mt7622

ATF_LOG_LEVEL=30
BL2_BUILD_OPTIONS=
ATF_BUILD_OPTIONS=
BL2_OUT_NAME=bl2.img
SOC_FW_NAME=bl31
SOC_FW_PARAM=--soc-fw

ATF_VARIANTS="nor emmc sd snand_2k_64 snand_2k_128 snand_4k_256 emmc_flyby sd_flyby snand_2k_64_flyby"

ATF_NAME_nor=nor
ATF_NAME_emmc=emmc
ATF_NAME_sd=sd
ATF_NAME_snand_2k_64=snand-2k+64
ATF_NAME_snand_2k_128=snand-2k+128
ATF_NAME_snand_4k_256=snand-4k+256
ATF_NAME_emmc_flyby=emmc-flyby
ATF_NAME_sd_flyby=sd-flyby
ATF_NAME_snand_2k_64_flyby=snand-2k+64-flyby

BL2_VARIANT_OPTIONS_nor="BOOT_DEVICE=nor"
BL2_VARIANT_OPTIONS_emmc="BOOT_DEVICE=emmc"
BL2_VARIANT_OPTIONS_sd="BOOT_DEVICE=sdmmc"
BL2_VARIANT_OPTIONS_snand_2k_64="BOOT_DEVICE=snand NAND_TYPE=2k+64"
BL2_VARIANT_OPTIONS_snand_2k_128="BOOT_DEVICE=snand NAND_TYPE=2k+128"
BL2_VARIANT_OPTIONS_snand_4k_256="BOOT_DEVICE=snand NAND_TYPE=4k+256"
BL2_VARIANT_OPTIONS_emmc_flyby="BOOT_DEVICE=emmc DDR3_FLYBY=1"
BL2_VARIANT_OPTIONS_sd_flyby="BOOT_DEVICE=sdmmc DDR3_FLYBY=1"
BL2_VARIANT_OPTIONS_snand_2k_64_flyby="BOOT_DEVICE=snand NAND_TYPE=2k+64 DDR3_FLYBY=1"
