TOOLCHAIN_PREFIX=aarch64
PLATFORM=mt7986

ATF_LOG_LEVEL=30
BL2_BUILD_OPTIONS=
ATF_BUILD_OPTIONS=
BL2_OUT_NAME=bl2.img
SOC_FW_NAME=bl31
SOC_FW_PARAM=--soc-fw

ATF_VARIANTS="ddr3_nor ddr3_emmc ddr3_sd ddr3_snfi_nand_2k_64
	      ddr3_snfi_nand_2k_128 ddr3_snfi_nand_4k_256
	      ddr3_spim_nand_2k_64 ddr3_spim_nand_2k_128 ddr3_spim_nand_4k_256 \
	      \
	      ddr4_nor ddr4_emmc ddr4_sd ddr4_snfi_nand_2k_64
	      ddr4_snfi_nand_2k_128 ddr4_snfi_nand_4k_256
	      ddr4_spim_nand_2k_64 ddr4_spim_nand_2k_128 ddr4_spim_nand_4k_256"

ATF_NAME_ddr3_nor=ddr3-nor
ATF_NAME_ddr3_emmc=ddr3-emmc
ATF_NAME_ddr3_sd=ddr3-sd
ATF_NAME_ddr3_snfi_nand_2k_64=ddr3-snfi-nand-2k+64
ATF_NAME_ddr3_snfi_nand_2k_128=ddr3-snfi-nand-2k+128
ATF_NAME_ddr3_snfi_nand_4k_256=ddr3-snfi-nand-4k+256
ATF_NAME_ddr3_spim_nand_2k_64=ddr3-spim-nand-2k+64
ATF_NAME_ddr3_spim_nand_2k_128=ddr3-spim-nand-2k+128
ATF_NAME_ddr3_spim_nand_4k_256=ddr3-spim-nand-4k+256

ATF_NAME_ddr4_nor=ddr4-nor
ATF_NAME_ddr4_emmc=ddr4-emmc
ATF_NAME_ddr4_sd=ddr4-sd
ATF_NAME_ddr4_snfi_nand_2k_64=ddr4-snfi-nand-2k+64
ATF_NAME_ddr4_snfi_nand_2k_128=ddr4-snfi-nand-2k+128
ATF_NAME_ddr4_snfi_nand_4k_256=ddr4-snfi-nand-4k+256
ATF_NAME_ddr4_spim_nand_2k_64=ddr4-spim-nand-2k+64
ATF_NAME_ddr4_spim_nand_2k_128=ddr4-spim-nand-2k+128
ATF_NAME_ddr4_spim_nand_4k_256=ddr4-spim-nand-4k+256

BL2_VARIANT_OPTIONS_ddr3_nor="DRAM_USE_DDR4=0 BOOT_DEVICE=nor"
BL2_VARIANT_OPTIONS_ddr3_emmc="DRAM_USE_DDR4=0 BOOT_DEVICE=emmc"
BL2_VARIANT_OPTIONS_ddr3_sd="DRAM_USE_DDR4=0 BOOT_DEVICE=sdmmc"
BL2_VARIANT_OPTIONS_ddr3_snfi_nand_2k_64="DRAM_USE_DDR4=0 BOOT_DEVICE=snand NAND_TYPE=hsm:2k+64"
BL2_VARIANT_OPTIONS_ddr3_snfi_nand_2k_128="DRAM_USE_DDR4=0 BOOT_DEVICE=snand NAND_TYPE=hsm:2k+128"
BL2_VARIANT_OPTIONS_ddr3_snfi_nand_4k_256="DRAM_USE_DDR4=0 BOOT_DEVICE=snand NAND_TYPE=hsm:4k+256"
BL2_VARIANT_OPTIONS_ddr3_spim_nand_2k_64="DRAM_USE_DDR4=0 BOOT_DEVICE=spim-nand NAND_TYPE=spim:2k+64"
BL2_VARIANT_OPTIONS_ddr3_spim_nand_2k_128="DRAM_USE_DDR4=0 BOOT_DEVICE=spim-nand NAND_TYPE=spim:2k+128"
BL2_VARIANT_OPTIONS_ddr3_spim_nand_4k_256="DRAM_USE_DDR4=0 BOOT_DEVICE=spim-nand NAND_TYPE=spim:4k+256"

BL2_VARIANT_OPTIONS_ddr4_nor="DRAM_USE_DDR4=1 BOOT_DEVICE=nor"
BL2_VARIANT_OPTIONS_ddr4_emmc="DRAM_USE_DDR4=1 BOOT_DEVICE=emmc"
BL2_VARIANT_OPTIONS_ddr4_sd="DRAM_USE_DDR4=1 BOOT_DEVICE=sdmmc"
BL2_VARIANT_OPTIONS_ddr4_snfi_nand_2k_64="DRAM_USE_DDR4=1 BOOT_DEVICE=snand NAND_TYPE=hsm:2k+64"
BL2_VARIANT_OPTIONS_ddr4_snfi_nand_2k_128="DRAM_USE_DDR4=1 BOOT_DEVICE=snand NAND_TYPE=hsm:2k+128"
BL2_VARIANT_OPTIONS_ddr4_snfi_nand_4k_256="DRAM_USE_DDR4=1 BOOT_DEVICE=snand NAND_TYPE=hsm:4k+256"
BL2_VARIANT_OPTIONS_ddr4_spim_nand_2k_64="DRAM_USE_DDR4=1 BOOT_DEVICE=spim-nand NAND_TYPE=spim:2k+64"
BL2_VARIANT_OPTIONS_ddr4_spim_nand_2k_128="DRAM_USE_DDR4=1 BOOT_DEVICE=spim-nand NAND_TYPE=spim:2k+128"
BL2_VARIANT_OPTIONS_ddr4_spim_nand_4k_256="DRAM_USE_DDR4=1 BOOT_DEVICE=spim-nand NAND_TYPE=spim:4k+256"
