TOOLCHAIN_PREFIX=aarch64
PLATFORM=mt7981

ATF_LOG_LEVEL=30
BL2_BUILD_OPTIONS=
ATF_BUILD_OPTIONS=
BL2_OUT_NAME=bl2.img
SOC_FW_NAME=bl31
SOC_FW_PARAM=--soc-fw

ATF_VARIANTS="ddr3_qfn_nor ddr3_qfn_emmc ddr3_qfn_sd ddr3_qfn_snfi_nand_2k_64 \
	      ddr3_qfn_snfi_nand_2k_128 ddr3_qfn_snfi_nand_4k_256 \
	      ddr3_qfn_spim_nand_2k_64 ddr3_qfn_spim_nand_2k_128 \
	      ddr3_qfn_spim_nand_4k_256 \
	      \
	      ddr3_bga_nor ddr3_bga_emmc ddr3_bga_sd ddr3_bga_snfi_nand_2k_64
	      ddr3_bga_snfi_nand_2k_128 ddr3_bga_snfi_nand_4k_256
	      ddr3_bga_spim_nand_2k_64 ddr3_bga_spim_nand_2k_128
	      ddr3_bga_spim_nand_4k_256 \
	      \
	      ddr4_bga_nor ddr4_bga_emmc ddr4_bga_sd ddr4_bga_snfi_nand_2k_64
	      ddr4_bga_snfi_nand_2k_128 ddr4_bga_snfi_nand_4k_256
	      ddr4_bga_spim_nand_2k_64 ddr4_bga_spim_nand_2k_128
	      ddr4_bga_spim_nand_4k_256"

ATF_NAME_ddr3_qfn_nor=ddr3_qfn-nor
ATF_NAME_ddr3_qfn_emmc=ddr3_qfn-emmc
ATF_NAME_ddr3_qfn_sd=ddr3_qfn-sd
ATF_NAME_ddr3_qfn_snfi_nand_2k_64=ddr3_qfn-snfi-nand-2k+64
ATF_NAME_ddr3_qfn_snfi_nand_2k_128=ddr3_qfn-snfi-nand-2k+128
ATF_NAME_ddr3_qfn_snfi_nand_4k_256=ddr3_qfn-snfi-nand-4k+256
ATF_NAME_ddr3_qfn_spim_nand_2k_64=ddr3_qfn-spim-nand-2k+64
ATF_NAME_ddr3_qfn_spim_nand_2k_128=ddr3_qfn-spim-nand-2k+128
ATF_NAME_ddr3_qfn_spim_nand_4k_256=ddr3_qfn-spim-nand-4k+256

ATF_NAME_ddr3_bga_nor=ddr3_bga-nor
ATF_NAME_ddr3_bga_emmc=ddr3_bga-emmc
ATF_NAME_ddr3_bga_sd=ddr3_bga-sd
ATF_NAME_ddr3_bga_snfi_nand_2k_64=ddr3_bga-snfi-nand-2k+64
ATF_NAME_ddr3_bga_snfi_nand_2k_128=ddr3_bga-snfi-nand-2k+128
ATF_NAME_ddr3_bga_snfi_nand_4k_256=ddr3_bga-snfi-nand-4k+256
ATF_NAME_ddr3_bga_spim_nand_2k_64=ddr3_bga-spim-nand-2k+64
ATF_NAME_ddr3_bga_spim_nand_2k_128=ddr3_bga-spim-nand-2k+128
ATF_NAME_ddr3_bga_spim_nand_4k_256=ddr3_bga-spim-nand-4k+256

ATF_NAME_ddr4_bga_nor=ddr4_bga-nor
ATF_NAME_ddr4_bga_emmc=ddr4_bga-emmc
ATF_NAME_ddr4_bga_sd=ddr4_bga-sd
ATF_NAME_ddr4_bga_snfi_nand_2k_64=ddr4_bga-snfi-nand-2k+64
ATF_NAME_ddr4_bga_snfi_nand_2k_128=ddr4_bga-snfi-nand-2k+128
ATF_NAME_ddr4_bga_snfi_nand_4k_256=ddr4_bga-snfi-nand-4k+256
ATF_NAME_ddr4_bga_spim_nand_2k_64=ddr4_bga-spim-nand-2k+64
ATF_NAME_ddr4_bga_spim_nand_2k_128=ddr4_bga-spim-nand-2k+128
ATF_NAME_ddr4_bga_spim_nand_4k_256=ddr4_bga-spim-nand-4k+256

BL2_VARIANT_OPTIONS_ddr3_qfn_nor="DRAM_USE_DDR4=0 BOARD_QFN=1 BOOT_DEVICE=nor"
BL2_VARIANT_OPTIONS_ddr3_qfn_emmc="DRAM_USE_DDR4=0 BOARD_QFN=1 BOOT_DEVICE=emmc"
BL2_VARIANT_OPTIONS_ddr3_qfn_sd="DRAM_USE_DDR4=0 BOARD_QFN=1 BOOT_DEVICE=sdmmc"
BL2_VARIANT_OPTIONS_ddr3_qfn_snfi_nand_2k_64="DRAM_USE_DDR4=0 BOARD_QFN=1 BOOT_DEVICE=snand NAND_TYPE=hsm:2k+64"
BL2_VARIANT_OPTIONS_ddr3_qfn_snfi_nand_2k_128="DRAM_USE_DDR4=0 BOARD_QFN=1 BOOT_DEVICE=snand NAND_TYPE=hsm:2k+128"
BL2_VARIANT_OPTIONS_ddr3_qfn_snfi_nand_4k_256="DRAM_USE_DDR4=0 BOARD_QFN=1 BOOT_DEVICE=snand NAND_TYPE=hsm:4k+256"
BL2_VARIANT_OPTIONS_ddr3_qfn_spim_nand_2k_64="DRAM_USE_DDR4=0 BOARD_QFN=1 BOOT_DEVICE=spim-nand NAND_TYPE=spim:2k+64"
BL2_VARIANT_OPTIONS_ddr3_qfn_spim_nand_2k_128="DRAM_USE_DDR4=0 BOARD_QFN=1 BOOT_DEVICE=spim-nand NAND_TYPE=spim:2k+128"
BL2_VARIANT_OPTIONS_ddr3_qfn_spim_nand_4k_256="DRAM_USE_DDR4=0 BOARD_QFN=1 BOOT_DEVICE=spim-nand NAND_TYPE=spim:4k+256"

BL2_VARIANT_OPTIONS_ddr3_bga_nor="DRAM_USE_DDR4=0 BOARD_BGA=1 BOOT_DEVICE=nor"
BL2_VARIANT_OPTIONS_ddr3_bga_emmc="DRAM_USE_DDR4=0 BOARD_BGA=1 BOOT_DEVICE=emmc"
BL2_VARIANT_OPTIONS_ddr3_bga_sd="DRAM_USE_DDR4=0 BOARD_BGA=1 BOOT_DEVICE=sdmmc"
BL2_VARIANT_OPTIONS_ddr3_bga_snfi_nand_2k_64="DRAM_USE_DDR4=0 BOARD_BGA=1 BOOT_DEVICE=snand NAND_TYPE=hsm:2k+64"
BL2_VARIANT_OPTIONS_ddr3_bga_snfi_nand_2k_128="DRAM_USE_DDR4=0 BOARD_BGA=1 BOOT_DEVICE=snand NAND_TYPE=hsm:2k+128"
BL2_VARIANT_OPTIONS_ddr3_bga_snfi_nand_4k_256="DRAM_USE_DDR4=0 BOARD_BGA=1 BOOT_DEVICE=snand NAND_TYPE=hsm:4k+256"
BL2_VARIANT_OPTIONS_ddr3_bga_spim_nand_2k_64="DRAM_USE_DDR4=0 BOARD_BGA=1 BOOT_DEVICE=spim-nand NAND_TYPE=spim:2k+64"
BL2_VARIANT_OPTIONS_ddr3_bga_spim_nand_2k_128="DRAM_USE_DDR4=0 BOARD_BGA=1 BOOT_DEVICE=spim-nand NAND_TYPE=spim:2k+128"
BL2_VARIANT_OPTIONS_ddr3_bga_spim_nand_4k_256="DRAM_USE_DDR4=0 BOARD_BGA=1 BOOT_DEVICE=spim-nand NAND_TYPE=spim:4k+256"

BL2_VARIANT_OPTIONS_ddr4_bga_nor="DRAM_USE_DDR4=1 BOARD_BGA=1 BOOT_DEVICE=nor"
BL2_VARIANT_OPTIONS_ddr4_bga_emmc="DRAM_USE_DDR4=1 BOARD_BGA=1 BOOT_DEVICE=emmc"
BL2_VARIANT_OPTIONS_ddr4_bga_sd="DRAM_USE_DDR4=1 BOARD_BGA=1 BOOT_DEVICE=sdmmc"
BL2_VARIANT_OPTIONS_ddr4_bga_snfi_nand_2k_64="DRAM_USE_DDR4=1 BOARD_BGA=1 BOOT_DEVICE=snand NAND_TYPE=hsm:2k+64"
BL2_VARIANT_OPTIONS_ddr4_bga_snfi_nand_2k_128="DRAM_USE_DDR4=1 BOARD_BGA=1 BOOT_DEVICE=snand NAND_TYPE=hsm:2k+128"
BL2_VARIANT_OPTIONS_ddr4_bga_snfi_nand_4k_256="DRAM_USE_DDR4=1 BOARD_BGA=1 BOOT_DEVICE=snand NAND_TYPE=hsm:4k+256"
BL2_VARIANT_OPTIONS_ddr4_bga_spim_nand_2k_64="DRAM_USE_DDR4=1 BOARD_BGA=1 BOOT_DEVICE=spim-nand NAND_TYPE=spim:2k+64"
BL2_VARIANT_OPTIONS_ddr4_bga_spim_nand_2k_128="DRAM_USE_DDR4=1 BOARD_BGA=1 BOOT_DEVICE=spim-nand NAND_TYPE=spim:2k+128"
BL2_VARIANT_OPTIONS_ddr4_bga_spim_nand_4k_256="DRAM_USE_DDR4=1 BOARD_BGA=1 BOOT_DEVICE=spim-nand NAND_TYPE=spim:4k+256"
